.container {
    border: 5px solid #ddd;
    display: block;
    width: 1000px;
  }
  
  .item {
    width: 100px;
    height: 100px;
  }
  
  .red {
    background-color: red;
  }
  
  .blue {
    background-color: blue;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .green {
    background-color: green;
  }
  